* {
  margin: 0;
}

a {
  text-decoration: none;
}

.mydrawer * {
  transition: none !important;
}

.videoContainer {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* Aspect Ration 9: 16 */
}

.videoContainer > * {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 100%;
  height: 100%;
}
